*{margin: 0; padding: 0; box-sizing: border-box;}

#eu{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.apresentacao{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    padding: 5px;
    font-size: 60px;
    font-family: cursive;
    color: #112BFA;
    text-shadow: 2px 2px #EDEA0C;
}

h2{
    padding: 10px;
    font-size: 40px;
    font-family: cursive;
    color: #040b3c;
}

h3{
    font-size: 35px;
    font-family: cursive;
    color: #040b3c;
    margin-bottom: 15px;
}

h4{
    font-size: 20px;
    font-family: cursive;
    color: #112BFA;
    position: absolute;
    margin-top: 100px;
    margin-left: 70px;
    z-index: 2;
}

p{
    padding: 10px;
    font-size: 22px;
    font-family: monospace;
    color: #02051f;
}

.foto{
    box-shadow: 5px -5px;
}

#trabalhos{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 0px 10px 0px 10px;
}

#projecto{
    
}

.foto-texto{
    width: 380px;
    height: 250px;
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #EDEA0C;
    opacity: 90%;
}

.titulos{
    margin-top: 130px;
    margin-left: 4%;
}
