*{margin: 0; padding: 0; box-sizing: border-box;}

#eu{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.apresentacao{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    padding: 5px;
    font-size: 60px;
    font-family: cursive;
    color: #112BFA;
    text-shadow: 2px 2px #EDEA0C;
}

h2{
    padding: 10px;
    font-size: 40px;
    font-family: cursive;
    color: #040b3c;
}

h3{
    font-size: 35px;
    font-family: cursive;
    color: #112BFA;
    text-decoration: underline #EDEA0C;
    margin-bottom: 15px;
}

h4{
    font-size: 20px;
    font-family: monospace;
    color: #EDEA0C;
    position: absolute;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 2;
}

h5{
    font-size: 16px;
    font-family: monospace;
    color: #02051f;
    padding: 15px;
    position: relative;
    bottom: 0;
}

p{
    padding: 10px;
    font-size: 22px;
    font-family: monospace;
    color: #02051f;
}

#foto-foto{
    box-shadow: 2px 2px 10px #ede90cc6 ;
}

#trabalhos{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 0px 10px 0px 10px;
   background: linear-gradient(to bottom left,white, #112cfa0c);
}

.imagem{
    padding-left: 20px;
    padding-top: 50px;
}
.foto-texto{
    width: 420px;
    height: 270px;
    position: absolute;
    z-index: 1;
    margin-left: 0px;
    background-color: #112BFA;
    opacity: 90%;
    display: none;
    border-radius: 10px;
    box-shadow: 10px 10px #EDEA0C;
}

.titulos{
    margin-top: 50px;
    margin-left: 4%;
}

footer{
    width: 100%;
    height: 300px;
    margin-top: 150px;
    background: linear-gradient(to left top,white, #112cfa0c);
    position: absolute;
}

.acao{
    margin-left: 50px;
}

.btn{
    margin-top: 30px;
    margin-left: 41%;
}

input[type="button"]{
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 2px -2px #d3e5f8;
    background: linear-gradient(to left top,#fffebc, #EDEA0C);
    font-size: 18px;
    font-family: monospace;
    font-weight: 500;
    color: #02051f;

}

input[type="button"]:hover{
    background: #f8f674;
}

.infor{
    position: absolute;
    z-index: 1;
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex: row;
    justify-content: center;
}

.infor-bar{
    margin-top: 70px;
    float: right;
    width: 75%;
    height:20%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #d3e5f8;
}

.bara{
    margin-top: 0px;
    margin-left: 10%;
    width: 100px;
    height: 10px;
    background-color: #112BFA;
}

.bara2{
    margin-top: 50px;
    margin-left: 50%;
    width: 100px;
    height: 10px;
    background-color: #EDEA0C;
}

.bara3{
    margin-top: 50px;
    margin-left: 90%;
    width: 100px;
    height: 10px;
    background-color: #112BFA;
}

.bara4{
    margin-top: 50px;
    margin-left: 50%;
    width: 100px;
    height: 10px;
    background-color: #EDEA0C;
}

.bara5{
    margin-top: 50px;
    margin-left: 20%;
    width: 100px;
    height: 10px;
    background-color: #112BFA;
}

.bola{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 10%;
    animation: b1 2s infinite;
    animation-delay: 1s;
}

.bola2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 53%;
    animation: b2 2s 1;
    animation-delay: 3s;
}

.bola3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 96%;
    animation: b3 2s 1;
    animation-delay: 4s;
}

.bola4{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 53%;
    animation: b4 2s 1;
    animation-delay: 5s;
}

.bola5{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 26%;
    animation: b5 2s 1;
    animation-delay: 6s;
}

@keyframes b1{
    50%{
        background-color: #EDEA0C;
    }
    100%{
        transform: translatex(80px);
        background-color: #112BFA;
    }
}

@keyframes b2{
    50%{
        background-color: #112BFA;
    }
    100%{
        transform: translateY(50px);
        background-color: #EDEA0C;
    }
}

@keyframes b3{
    50%{
        background-color: #EDEA0C;
    }
    100%{
        transform: translatex(-90px);
        background-color: #112BFA;
    }
}

@keyframes b4{
    50%{
        background-color: #112BFA;
    }
    100%{
        transform: translateY(50px);
        background-color: #EDEA0C;
    }
}

@keyframes b5{
    50%{
        background-color: #EDEA0C;
    }
    100%{
        transform: translateX(-80px);
        background-color: #112BFA;
    }
}

.bvertical{
    width: 10px;
    height: 250px;
    background-color: #112BFA;
    margin-top: -200px;
    margin-left: 10%;
}

/* bolinha para imagens*/
.bolinha{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 45%;
    animation: bol1 2s 1;
    display: none;
}

@keyframes bol1 {
    50%{
        background-color: #EDEA0C;
    }
    100%{
        transform: translateY(-30px);
        background-color: #112BFA;
    }
}

/*Blog*/

header{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 30%;
    padding: 15px;
    font-size: 20px;
    font-family: monospace;
    color: #112BFA;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px #EDEA0C;
}

nav{
    width: 60%;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

li a{
    text-decoration: none;
    color: #02051f;
    font-size: 20px;
    font-family: cursive;
}


#tblog{
    margin-left: 10%;
    margin-top: 5%;
}

.artigos{
    margin-left: 10%;
    margin-top: 5%;
    width: 40%;
    max-width: 40%;
    min-height: 250px;
    box-shadow: 2px 2px 20px #ede90c62;
}


span{
    padding: 10px;
    font-family: monospace;
    font-size: 16px;
    color: #02051f;
    font-style: italic;
    width: fit-content;
    float: right;
}

#escrita{
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    text-align: justify;
    color: #02051f;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
}